#contentContainer{
    min-height: 400px;
    max-height: 700px;
    align-content: center;
}


.nav-sidebar { 
    width: 100%;
    padding: 30px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #0b56a8; 
    color: #fff; 
}
.nav-sidebar .active a:hover {
    background-color: #E50000;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#0b56a8;
    border-color: #0b56a8;
}
article h2{color:#333333;}
h2{color:#0b56a8;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 .container .text-style
{
  text-align: justify;
  line-height: 23px;
  margin: 0 13px 0 0;
  font-size: 19px;
}

/*
For the Adventure Page & Quiz - Sarah ----------------------
*/


.questionText{
    font-size: x-large;
    text-align: center;
    margin: 10px;
}

div.answers {
    display: wrap;
}
.image {
    display: block;
    max-height:300px;
    max-width: 700px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
}

Button.answerButton {
    border: 2px solid black;
    width: 46%;
    margin: 5px;
    background: rebeccapurple;
    font-weight: 500;
    color: white;
}
.resultsInfo {
    display: block;
    padding: 10px;
    background: darkblue;
    color: antiquewhite;
    font-weight: 300;
    font-size: 25px;
}
/*
----------------------------------------
*/

body {
  padding-top: 70px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * discover sidebar Jorge
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }

  .row-offcanvas-left
  #sidebarLeft {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }
 
  .row-offcanvas-right 
  #sidebarRight {
    right: -40%;
  }

  .row-offcanvas-right.active {
    right: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 10px;
  }
}



#mapid {
    height: 400px;
    background-color: pink;
}
.card-img-top{
    height: 175px;
    width: 270px;
}

/*
 * About Us
 * --------------------------------------------------
 */

.img-circle{
    height: 100px;
    width: 100px;
}

.col-md-3{
    padding-top: 40px;
}

#discoverContainer{
    background-image: url("http://www.travelkingsus.com/wp-content/uploads/2016/08/TravellingTips_TOPBANNER.jpg");
 background-size: cover;
  background-repeat: no-repeat;
}